.contain-info-about{
    display: flex;
    position: relative;
    justify-content: center;
    height: 450px;
    padding-top: 15px;
    
}

.banner-image{
    height: 100%;
    width: 100%;
    filter: grayscale(40%);
    object-fit: cover;
}

.banner-text{
    position: absolute;
    background-color: #333;
    color: whitesmoke;
    width: 100%;
    text-align: center;
    opacity: 85%;
    text-transform: uppercase;
    text-shadow: -1px 5px 0 #0a0e27;
}

/* pt box who are we */
.container-body-about{
    height: 95vh;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    text-transform: uppercase;
}


.body-elem{
    color: whitesmoke;
    opacity: 90%;
    padding-bottom: 10px;
    background-color: #333;
    border-radius: 10px;

    -webkit-box-shadow: inset 200px 107px 195px 24px rgba(87,76,87,1);
    -moz-box-shadow: inset 200px 107px 195px 24px rgba(87,76,87,1);
    box-shadow: inset 200px 107px 195px 24px rgba(87,76,87,1);
}


.underline {
    text-shadow:-1px 5px 0 #0a0e27 ;
    position: relative;
    font-size: 28px;
    margin-bottom: 20px;
}

.underline::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -4px;
    left: 0;
    background: linear-gradient(to right, #F4C2C2, #DBF4C2, #C2F4F4, #DBC2F4);
    border-radius: 2px;
    transform: scaleX(0);
    transition: transform 0.6s ease;
}

.underline.hovered::after {
    transform: scaleX(1);
    transform-origin: top;
}

.para {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.para.hovered {
    opacity: 1;
    margin-top: 20px;
}


/* pt info parteneri */


.info-overall{
    font-size: 0.9rem
}

.info1 {
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
    transform: translateY(20px); 
}

.info1.appear {
    opacity: 1;
    transform: translateY(0); 
}


.info2 {
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
    transform: translateY(20px); 
}

.info2.appear {
    opacity: 1;
    transform: translateY(0); 
}

.arrows{
    padding: 25px;
}

/* foto about
.photo-about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
}

.photo-about img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
} */